body {
  font-family: @font;
  line-height: @line-height;
  font-size: @font-size;
  color: @black;

  background-color: #f2f2f2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

input {
  box-sizing: border-box;
}
