.copyright {
  display: flex;
  justify-content: space-between;

  padding: 0;
  padding-left: 11px;
 
 .link-style();
  font-size: 0;
}

.copyright__text {
  margin-top: 5px;

  font-family: @font;
  font-size: 14px;
  line-height: 1.85;
  font-weight: 400;
  color: @black;
  text-transform: uppercase;
}

.copyright__logo {
  width: 27px;
  height: 34px;
}

.copyright__logo-icon {
  width: 27px;
  height: 34px;
}

.copyright__logo-icon path {
  fill: @black;
}
