.fieldset input::-webkit-input-placeholder {
  .header-style();
  text-transform: none;
  color: @black;
}

.fieldset input::-moz-placeholder {
  .header-style();
  text-transform: none;
  color: @black;
}

.fieldset input::-ms-input-placeholder {
  .header-style();
  text-transform: none;
  color: @black;
}

.fieldset textarea::-webkit-input-placeholder {
  .header-style();
  text-transform: none;
  color: @black;
}

.fieldset textarea::-moz-placeholder {
  .header-style();
  text-transform: none;
  color: @black;
}

.fieldset textarea::-ms-input-placeholder {
  .header-style();
  text-transform: none;
  color: @black;
}

.fieldset {
  position: relative;

  margin: 0;
  padding: 0;
  padding-bottom: 25px;
  text-align: center;
  border: none;
}

.fieldset:not(.fieldset--textarea)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -20px;

  width: 320px;
  height: 1px;

  background-color: #e5e5e5;
}

.fieldset__title {
  display: block;
  padding-top: 18px;
  padding-bottom: 22px;

  .header-style();
}

.fieldset__label {
  position: relative;

  display: block;

  .text-style();
}

.fieldset__wrap-input-label {
  margin-bottom: 20px;
}

.fieldset__input {
  margin: 0;
  padding: 19px 0;
  padding-left: 22px;
  width: 100%;
  border: none;

  background-color: #f3f3f3;
  box-sizing: border-box;
}

.fieldset__input:hover {
  background-color: #e6e6e6;
}

.fieldset__input:focus {
  background-color: @white;
  box-shadow: inset 0 0 0 4px #e5e5e5;
}

.fieldset__wrap {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.fieldset--customer-info .fieldset__label {
  margin-right: 13px;
}

.fieldset__label[for="customer-middlename"] {
  margin-right: 16px;
}

.fieldset--radio .fieldset__label,
.fieldset--checkbox .fieldset__label {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 79px;

  .header-style();
  text-transform: none;
}

.fieldset--radio .fieldset__label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 17px;

  margin-top: -11px;
  width: 22px;
  height: 22px;
  border-radius: 50%;

  background-color: #f3f3f3;
  box-shadow: 0 0 0 17px #f3f3f3;
}

.fieldset--radio .fieldset__input:checked + .fieldset__label::before {
  background-color: @black;
}

.fieldset--checkbox .fieldset__label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 56px;
  height: 56px;
  border-radius: 5px;

  background-color: #f3f3f3;
}

.fieldset--checkbox .fieldset__input:checked + .fieldset__label::after {
  content: "";
  position: absolute;
  top: 19px;
  left: 16px;

  width: 25px;
  height: 19px;

  background: url("../img/icon-tick.svg") no-repeat center;
}

.fieldset--radio .fieldset__wrap-input-label {
  align-items: center;
  margin-bottom: 11px;
}

.fieldset--radio .fieldset__wrap-input-label:last-child,
.fieldset--checkbox .fieldset__wrap-input-label:last-child {
  margin-bottom: 0;
}

.fieldset--radio {
  padding-bottom: 27px;
}

.fieldset--radio .fieldset__input,
.fieldset--checkbox .fieldset__input {
  display: none;
}

.fieldset--checkbox .fieldset__title {
  padding-bottom: 16px;
}

.fieldset--checkbox .fieldset__wrap-input-label {
  margin-bottom: 22px;
}

.fieldset--radio .fieldset__label:hover::before {
  background-color: #e6e6e6;
  box-shadow: 0 0 0 17px #e6e6e6;
}

.fieldset--radio .fieldset__label:active::before {
  background-color: #d6d6d6;
  box-shadow: 0 0 0 17px #d6d6d6;
}

.fieldset--radio .fieldset__input:checked + .fieldset__label:hover::before {
  background-color: @black;
  box-shadow: 0 0 0 17px #e6e6e6;
}

.fieldset--radio .fieldset__input:checked + .fieldset__label:active::before {
  background-color: #a3a3a3;
  box-shadow: 0 0 0 17px #d6d6d6;
}

.fieldset--checkbox .fieldset__label:hover::before {
  background-color: #e6e6e6;
}

.fieldset--checkbox .fieldset__label:active::before {
  background-color: #d6d6d6;
}

.fieldset--checkbox .fieldset__input:checked + .fieldset__label:hover::before {
  background-color: #e6e6e6;
}

.fieldset--checkbox .fieldset__input:checked + .fieldset__label:active::before {
  background-color: #d6d6d6;
}

.fieldset--checkbox .fieldset__input:checked + .fieldset__label:active::after {
  opacity: 0.3;
}

.fieldset--textarea .fieldset__input {
  padding-top: 17px;
  width: 280px;
  height: 160px;
  box-sizing: border-box;
}

.fieldset--textarea .fieldset__title {
  padding-bottom: 16px;
}

.fieldset--textarea {
  padding-bottom: 47px;
  border-bottom: none;
}

.fieldset--customer-info .fieldset__wrap-input-label {
  display: flex;
  align-items: center;
}

.fieldset--customer-info .fieldset__wrap-input {
  flex-grow: 1;
}

.fieldset--contact-info {
  padding-bottom: 29px;
}

.fieldset--contact-info .fieldset__wrap-input-label {
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.fieldset--contact-info .fieldset__label {
  margin-bottom: 9px;
  margin-left: 22px;
}

.fieldset--contact-info .fieldset__wrap-input {
  flex-grow: 1;
  position: relative;
}

.fieldset__wrap-input--phone::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;

  width: 58px;
  height: 58px;

  background-color: #e6e6e6;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.fieldset__wrap-input--email::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;

  width: 58px;
  height: 58px;

  background-color: #e6e6e6;
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.fieldset__wrap-input-label:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .fieldset {
    padding: 0;
  }

  .fieldset__title {
    padding-bottom: 58px;
    font-size: 21px;
    line-height: 1.238;
  }

  .fieldset::after {
    display: none;
  }

  .fieldset--radio {
    padding-bottom: 50px;
    text-align: left;
    width: 324px;
    order: 0;
  }

  .fieldset--radio::before {
    content: "";
    position: absolute;
    right: 0;
    top: 20px;
    width: 1px;
    height: 292px;
    background: #e5e5e5;
  }

  .fieldset--radio .fieldset__wrap-input-label {
    margin-bottom: 21px;
  }

  .fieldset--radio .fieldset__label {
    padding-left: 77px;
  }

  .fieldset--customer-info {
    text-align: left;
    padding-left: 58px;
    padding-bottom: 50px;
    width: 266px;
    order: 1;
  }

  .fieldset--contact-info {
    padding-bottom: 8px;
    width: 648px;
    order: 2;
  }

  .fieldset--contact-info .fieldset__title {
    padding-bottom: 28px;
  }

  .fieldset--contact-info .fieldset__wrap-input-label {
    margin-bottom: 26px;
  }

  .fieldset--checkbox {
    padding-left: 95px;
    padding-bottom: 20px;
    width: 100%;
    order: 3;
  }

  .fieldset--checkbox .fieldset__title {
    padding-top: 19px;
    padding-bottom: 43px;
  }

  .fieldset--checkbox .fieldset__wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .fieldset--checkbox .fieldset__wrap-input-label {
    margin-bottom: 30px;
    width: 259px;
  }

  .fieldset--checkbox .fieldset__wrap-input-label:first-child {
    order: 0;
  }

  .fieldset--checkbox .fieldset__wrap-input-label:nth-child(3) {
    order: 1;
  }

  .fieldset--checkbox .fieldset__wrap-input-label:nth-child(2) {
    order: 2;
  }

  .fieldset--checkbox .fieldset__wrap-input-label:nth-child(4) {
    order: 3;
  }

  .fieldset--textarea {
    padding-bottom: 52px;
    width: 100%;
    order: 4;
  }

  .fieldset--textarea .fieldset__title {
    padding-bottom: 57px;
  }

  .fieldset--textarea .fieldset__input {
    width: 648px;
  }
}

@media (min-width: 1280px) {
  .fieldset--radio {
    padding-left: 4px;
    width: 476px;
  }

  .fieldset--customer-info {
    padding-left: 80px;
    width: 400px;
  }

  .fieldset--contact-info {
    padding-bottom: 34px;
    width: 960px;
  }

  .fieldset--contact-info .fieldset__title {
    padding-top: 18px;
    padding-bottom: 74px;
  }

  .fieldset--contact-info .fieldset__wrap {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .fieldset--contact-info .fieldset__wrap-input-label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    margin: 0;
    align-items: center;
    width: 480px;
  }

  .fieldset--contact-info .fieldset__wrap-input {
    width: 316px;
  }

  .fieldset--contact-info .fieldset__label {
    margin: 0;
    margin-right: 16px;
  }

  .fieldset--contact-info .fieldset__hide {
    display: none;
  }

  .fieldset--checkbox {
    padding: 0;
    padding-bottom: 46px;
  }

  .fieldset--checkbox .fieldset__wrap {
    flex-wrap: nowrap;
  }

  .fieldset--checkbox .fieldset__wrap-input-label {
    margin: 0;
    width: 240px;
  }

  .fieldset--textarea .fieldset__input {
    width: 960px;
  }
}
