.form {
  position: relative;
  padding: 0 20px;
  padding-bottom: 75px;
  border-top: 1px solid #e5e5e5;
}

.form__required-fields {
  display: none;
}

.form__wrap:nth-child(2) {
  position: relative;
}
