.gallery__item {
  margin-bottom: -1px;
  padding: 20px;
  padding-top: 22px;
  padding-bottom: 17px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.gallery__item-link {
  display: block;

  width: 280px;
  height: 280px;
}

.gallery__item-info {
  padding-top: 16px;

  color: @black;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 700;
}

.gallery__item-description {
  margin-bottom: 10px;
}

.gallery__item-name {
  text-transform: uppercase;
}

.gallery__item-author {
  color: #333;
  font-weight: 400;
}

.gallery__item-like-block {
  display: flex;
}

.gallery__item-like-icon {
  margin-right: 14px;
  width: 23px;
  height: 21px;
}
