.hotels-promotion {
  padding-top: 29px;
  padding-right: 20px;
  padding-bottom: 50px;
  padding-left: 20px;
  text-align: center;
}

.hotels-promotion__title {
  margin-bottom: 20px;

  font-size: 21px;
  line-height: 1.238;
  font-weight: 700;
  text-transform: uppercase;
}

.hotels-promotion__text {
  margin-bottom: 37px;

  .text-style();
  line-height: 1.71;
}

@media (min-width: 768px) {
  .hotels-promotion {
    margin: 0 auto;
    padding-top: 55px;
    padding-bottom: 58px;
    width: 458px;
  }

  .hotels-promotion__title {
    margin-bottom: 33px;

    font-size: 30px;
    line-height: 0.86;
  }

  .hotels-promotion__text {
    margin-bottom: 43px;
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (min-width: 1280px) {
  .hotels-promotion {
    padding-bottom: 67px;
  }

  .hotels-promotion__text {
    margin-bottom: 48px;
  }
}
