.site-list {
  display: none;
  .ul-style();
  background-color: @blue;
}

.site-list--open {
  display: block;
}

.site-list__link {
  display: block;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 6px;

  .link-style();
  .header-style();
  line-height: 2.22;
}

.site-list__item {
  border-top: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(1,1,1,0.2);
}

.site-list__item:first-child {
  border-top: none;
}

@media (min-width: 768px) {
  .site-list {
    display: flex;

    padding-left: 49px;
    padding-right: 26px;

    background-color: @white;
  }

  .site-list__item {
    border: none;
  }

  .site-list__link {
    color: @black;
    font-size: 14px;
    line-height: 1.85;
  }

  .site-list__item:first-child {
    margin-right: 76px;
  }

  .site-list__item:nth-child(2) {
    margin-right: 210px;
  }

  .site-list__item:nth-child(3) {
    margin-right: 49px;
  }
}

@media (min-width: 1280px) {
  .site-list {
    padding-left: 91px;
    padding-right: 70px;
  }

  .site-list__item:first-child {
    margin-right: 162px;
  }

  .site-list__item:nth-child(2) {
    margin-right: 382px;
  }

  .site-list__item:nth-child(3) {
    margin-right: 137px;
  }
}
