.toggler {
  margin: 0;
  padding: 0;
  border: none;

  font-size: 0;
  background-color: transparent;
}

.toggler__svg {
  fill: @blue;
}

.toggler--open {
  display: none;
}

.toggler--open .toggler__svg {
  fill: @white;
}

@media (min-width: 768px) {
  .toggler {
    display: none;
  }
}
